/** @format */
@import "../partials/index.scss";
.formRoot {
  margin-left: 3%;
  form {
    color: map-get($colors, "dark-50");
  }
  & p {
    width: 360px;
    font-weight: 200;
  }
}
.auth-field {
  width: 100%;
}
.student {
  width: 630px;
  height: 550px;
}
.input-group {
  display: flex;
  flex-direction: column;
}
.bottom-rule {
  border-top: 1px solid map-get($colors, "success");
  width: 100%;
}
.or {
  & .hr {
    border-top: 1px solid map-get($colors, "dark-50");
    width: 40%;
  }
}
.txt {
  font-size: 13px;
}
.forgot p {
  font-weight: 600;
}
.withGoogle {
  margin-left: -7%;
}
#pwd {
  margin-bottom: 3%;
}
.check:checked {
  background-color: map-get($colors, "success");
}
// password reset section starts here
.title-txt {
  font-weight: map-get($font-weights, "bold");
  width: 500px;
  margin: 0 auto;

  & p {
    font-size: 23px;
    font-weight: map-get($font-weights, "medium");
  }
}
.info {
  width: 500px;
  font-size: 14px !important;
  font-weight: normal !important;
  color: map-get($colors, "dark-50");
  padding-left: 5%;
}
// password reset section ends here
@include media-breakpoint-down(sm) {
  .root {
    flex-wrap: wrap;
    flex-direction: column;

    .form-head {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }

    .bottom-rule {
      width: 95%;
    }

    & .student {
      height: 100%;
      width: 100%;
    }

    & .formRoot {
      width: 100%;
      form {
        padding-right: 7%;
        margin: 0 auto;
      }
      .form-auth {
        width: 100%;
      }
      .btn {
        width: 100%;
      }
      & .withGoogle {
        height: 18px;
        width: 18px;
        margin-left: -20%;
      }
      .txt {
        font-size: 10px;
      }
    }
  }
  .reset-password {
    padding: 0 2%;
  }
  .reset-root {
    padding: 0 4%;
    width: 100%;
    margin: 19% 0;
  }
  .title-txt {
    margin: 0 -2%;
    width: 100%;

    .info {
      padding: 4%;
      width: 100%;
    }
  }
  .txt {
    font-size: 14px !important;
    padding-right: 3%;
  }
}
