/** @format */
@import "../partials/index.scss";
.formRoot {
  margin-left: 3%;
  form {
    color: map-get($colors, "dark-50");
  }
  & p {
    width: 360px;
    font-weight: 200;
  }
}
.auth-field {
  width: 100%;
}
.student {
  width: 630px;
  height: 550px;
}
.input-group {
  display: flex;
  flex-direction: column;
}
.form-head {
  border-bottom: 1px solid map-get($colors, "success");
  width: 100%;
}
.or {
  & .hr {
    border-top: 1px solid map-get($colors, "dark-50");
    width: 40%;
  }
}
.txt {
  font-size: 13px;
}
.forgot p {
  font-weight: 600;
}
.withGoogle {
  margin-left: -7%;
}
#pwd {
  margin-bottom: 3%;
}
.check:checked {
  background-color: map-get($colors, "success");
}
// password reset section starts here
.title-txt {
  font-weight: map-get($font-weights, "bold");
  width: 500px;
  margin: 0 auto;

  & p {
    font-size: 23px;
    font-weight: map-get($font-weights, "medium");
  }
}
.info {
  width: 500px;
  font-size: 14px !important;
  font-weight: normal !important;
  color: map-get($colors, "dark-50");
  padding-left: 5%;
}
// password reset section ends here
@include media-breakpoint-down(sm) {
  .root {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .cbtor-logo {
    height: 20px;
  }
  .student {
    width: 100%;
    height: 100%;
  }
  .form-head {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    text-align: center;

    p {
      width: 300px;
      font-size: 10px;
      padding: 0 3%;
    }
  }
  .formRoot {
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .form-auth,
    .btn {
      width: 100%;
    }
  }
  form {
    margin: 0;
  }
  .txt {
    font-size: 11px;
  }
  .bottom-rule {
    width: 100%;
  }
  // password reset success starts here.
  .mail {
    width: 100px;
    height: 100px;
  }
  .title-txt {
    width: 100%;

    .info {
      width: 100%;
      padding: 0 1%;
      font-size: 11px !important;
    }
  }
  .account {
    font-size: 11px !important;
  }
  .reset-root {
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 12%;

    form {
      padding: 0 5%;
      width: 100%;
    }
  }
  // ends here...
}

// .form-head {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   text-align: center;
// }
