@import "../partials/variables";

.box-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.box-container .checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 4px;
}

.box-container:hover .checkbox ~ .checkmark {
  background-color: #ccc;
}

.box-container .checkbox:checked ~ .checkmark {
  background-color: map-get($colors, "success" );
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.box-container .checkbox:checked ~ .checkmark:after {
  display: block;
}

.box-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
