/** @format */

@import "../partials/index.scss";

.background {
  background: linear-gradient(89.92deg, #68d4c5 0.06%, #c2c68b 99.93%);
  height: 128px;
  margin-top: -38px;
  margin-left: -3%;
  z-index: -1;
}

.cec {
  height: 26px;
  height: 26px;
}
.coupon-code::placeholder {
  text-align: center;
  word-spacing: 15px;
  letter-spacing: 6px;
}
// profile section starts here
.profile-details {
  margin-top: -5%;

  & .background {
    z-index: -1%;
    height: 250px !important;
  }
  .profile-card {
    height: 100%;
  }
}
.profile-divider {
  width: 100%;
}
svg {
  margin-top: -2%;
}
// performance section starts here
.performance-cards {
  & .card {
    margin: 0 35px 0 0;
  }
}
.icon {
  margin-left: 90%;
}
.performance-table {
  & .table {
    border-spacing: 3% 0;
  }
}
thead tr:hover {
  background: none;
  border-left: none;
}
thead,
td {
  border-bottom: 1px solid #c7c5c5;
  height: 55px;
}
tr {
  &:hover {
    border-left: 2px solid #3cb89c;
    background: #caf2e8;
    cursor: pointer;
  }
}
td,
th {
  padding: 1%;
  text-align: left;
}
table {
  border-collapse: collapse;
  width: 100%;
}
.underline {
  text-decoration: underline;
}
// performance section ends here

//feedback section starts here.
.feedback-area {
  textarea {
    width: 100%;
  }
}
.button-container {
  padding: 0;
}

@include media-breakpoint-down(sm) {
  .profile-details {
    flex-wrap: wrap;

    & .btn {
      height: 45px;
      width: 60%;
    }
  }
  .profile-card {
    width: 100%;
    margin-bottom: 15%;
    margin-top: -17%;

    img {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .account-details {
    width: 100%;

    & form {
      padding: 0 1%;
    }
    & .d-flex {
      padding: 0 6%;
      justify-content: space-between;
      input {
        width: 96%;
      }
    }
  }
  // performance
  .performance-cards {
    & .card {
      margin: 0 7px 0 0;
      width: 100%;
      padding: 0 1%;
      height: 103px;

      p {
        font-size: 8px;
      }
    }
    .icon {
      margin-left: 76%;
    }
  }
  .performance-table {
    margin-top: 10%;
    overflow-x: auto;

    & .table {
      font-size: 12px;
    }
  }
  // feeback component
  .feedback-area {
    & .btn {
      height: 45px;
      width: 60%;
    }
  }
}
