/** @format */

@import "../partials/index.scss";

// Wallet
.wallet-amount {
  font-size: 3.75rem;
}

.wallet-input {
  height: rfs(60, 45);
  width: rfs(370, 270);
  position: absolute;
  top: 0;
  left: rfs(37, 30);
  border: none;
  outline: none;
  letter-spacing: rfs(20, 15);
  font-size: rem(18);
  color: map-get($colors, "dark-50");
  @include media-breakpoint-up(xxl) {
    height: 60px;
    width: 370px;
    left: 37px;
    letter-spacing: 20px;
  }
}

.wallet-control {
  z-index: 1;
  background: transparent;
}

.v-hidden {
  visibility: hidden;
}

.cec {
  height: 26px;
  height: 26px;
}
// Wallet ends

// Profile
.background {
  background: linear-gradient(89.92deg, #68d4c5 0.06%, #c2c68b 99.93%);
  height: rfs(220, 140);
  position: absolute;
  left: 0;
  z-index: 1;
  top: 3rem;
  @include media-breakpoint-up(xxl) {
    height: 220px;
  }
}

.profile {
  position: relative;
  z-index: 1;
  top: rfs(70, 40);
  &-avatar {
    width: 160px;
    height: 160px;
  }
}

.profile-divider {
  width: 100%;
}
.profile-avatar {
  position: relative;
  // Why I placed this border is so people can know
  // that an element is supposed to there for now since the image's state
  // isn't preserved yet (i.e If i refresh the browser,
  // the image disappears) 'cause we aren't
  // sending the image to the server yet.
  border: 3px solid map-get($colors, "primary");
}
.upload-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: map-get($colors, "primary");
  border: 3px solid map-get($colors, "white");
  outline: none;
  position: absolute;
  margin-top: 120px;
  margin-left: 120px;

  &:hover {
    cursor: pointer;
  }
}

@include media-breakpoint-down(sm) {
  // .upload-btn {
  //   top: 70;
  //   left: 90;
  // }
}

// Performance
thead th {
  font-size: rem(14);
  font-weight: map-get($font-weights, "medium");
}

tbody tr {
  border-left: 3px solid transparent;
  &:hover {
    border-left: 3px solid #3cb89c;
    background: #caf2e8;
  }
}
// performance ends
