/** @format */

.a-section {
  width: rfs(432, 200);
  @include media-breakpoint-up(xl) {
    width: 432px;
  }
  @include media-breakpoint-down(lg) {
    width: 100vw;
  }
}

.countdown {
  width: rfs(160, 100);
}

.option {
  border: 1px solid map-get($colors, "dark-50");
  width: rem(30);
  height: rem(30);
}

.option {
  &-success {
    color: map-get($colors, "success");
    .option {
      border-color: map-get($colors, "success");
    }
  }
  &-danger {
    color: map-get($colors, "danger");
    .option {
      border-color: map-get($colors, "danger");
    }
  }
  &-card {
  height: 45px;
  border-radius: 2px;
  }
}

.btn-navigate {
  font-size: rem(40);
}

.exam-avatar {
  width: rfs(100, 60);
  height: rfs(100, 60);
  @include media-breakpoint-up(xl) {
    width: 100px;
    height: 100px;
  }
}

.box {
  width: 14px;
  height: 14px;
  border-radius: 2px;
}