/** @format */
@import "../partials/index.scss";

.home-container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.hero-bg {
  background: url("https://res.cloudinary.com/codeleaf/image/upload/v1611517410/cbtor/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-header {
  @include media-breakpoint-down(xl) {
    font-size: 2.7rem;
  }
  @include media-breakpoint-down(lg) {
    font-size: 2.1rem;
  }
}

.feature-underline {
  border-block-width: 3px;
}

.feature-img {
  height: 80px;
  width: rfs(80, 60);
  @include media-breakpoint-up(xxl) {
    width: 80px;
  }
}

.footer-form {
  input {
    border-color: map-get($colors, primary);
    &:focus {
      border-color: map-get($colors, primary);
    }
  }
  button {
    position: relative;
    left: -10px;
  }
}

@include media-breakpoint-up(xl) {
  .mx-xl-none {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 767.98px) {
  .hero-nav {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 70%;
    margin-left: -70%;
    transition: margin-left 0.5s;
    background: map-get($colors, "primary");
    a {
      font-size: 18px;
      font-weight: map-get($font-weights, "bold");
    }
    button {
      font-size: 16px;
    }
  }
  .hero-open {
    margin-left: 0%;
  }
  .hero-closer {
    position: absolute;
    right: 0;
    top: 10px;
  }
  .home-modal {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}

.top {
  position: fixed;
  bottom: 20px;
  right: rfs(20, -20);
  &-2 {
    position: relative;
    top: 0;
    left: -60px;
    width: 50px;
    height: 50px;
    background: map-get($colors, "primary" );
    border-radius: 50%;
    font-size: 25px;
  }
}

.scale {
  background: rgba($color: map-get($colors, "success"), $alpha: 0.8);
  width: 70px;
  height: 70px;
  animation: scale 1.5s backwards infinite;
  border-radius: 50%;
}

@keyframes scale {
  0% {
    transform: scale(0.9);
    background-color: transparentize(
      $color: map-get($colors, "success"),
      $amount: 0.5
    );
  }
  50% {
    transform: scale(1);
    background-color: transparentize(
      $color: map-get($colors, "success"),
      $amount: 0.3
    );
  }
  100% {
    transform: scale(0.9);
    background-color: transparentize(
      $color: map-get($colors, "success"),
      $amount: 0.5
    );
  }
}
