/** @format */

@import "../partials/index.scss";

.form-group {
  display: inline;
}

.form-control {
  outline: none;
  padding: rfs(15);
  border: 0.5px solid map-get($colors, dark-50);
  padding-left: rfs(30);
  padding-right: rfs(30);
  @extend .border-radius;
  font-size: rfs(16);
  color: map-get($colors, dark);
  transition: border-color 0.5s;
  &::placeholder {
    font-size: rfs(16);
    color: map-get($colors, dark-50);
  }
  &:focus {
    border-color: map-get($colors, success);
    // box-shadow: 0 0 0 3px
    //   transparentize($color: map-get($colors, success), $amount: 0.7);
  }
  &[type="password"] {
    padding-right: rfs(100) !important;
    -webkit-text-stroke-width: 0.18em;
    letter-spacing: 5px;
    &::placeholder {
      -webkit-text-stroke-width: 0;
      letter-spacing: normal;
    }
  }
}

.form-auth {
  width: rfs(426, 265);
  height: rfs(64, 45);
}

.toggler {
  height: rfs(64, 45);
  right: rfs(30, 15);
  width: rfs(25, 17);
}
