/** @format */

@import "../partials/index.scss";

.form-group {
  display: inline;
}

.form-control {
  outline: none;
  padding: rem(15);
  border: 0.5px solid map-get($colors, dark-50);
  padding-left: rem(25);
  padding-right: rem(25);
  @extend .border-radius;
  font-size: rem(16);
  color: map-get($colors, dark);
  transition: border-color 0.5s;
  &::placeholder {
    font-size: rem(16);
    color: map-get($colors, dark-50);
  }
  &:focus {
    border-color: map-get($colors, success);
    // box-shadow: 0 0 0 3px
    //   transparentize($color: map-get($colors, success), $amount: 0.7);
  }
  &[type="password"] {
    padding-right: rem(100) !important;
    // -webkit-text-stroke-width: 0.18em;
    // letter-spacing: 5px;
    // &::placeholder {
    //   -webkit-text-stroke-width: 0;
    //   letter-spacing: normal;
    // }
  }
}

.form-auth {
  width: rfs(426, 300);
  height: rfs(64, 45);
}

.toggler {
  height: rfs(64, 45);
  right: rem(30);
  width: rem(25);
}

// React sliders color override
.input-range__track--active,
.input-range__slider {
  background: map-get($colors, "success") !important;
  border-color: map-get($colors, "success") !important;
}

@include media-breakpoint-up(xl) {
  .form-auth {
    width: 426px;
    height: 64px;
  }
  .toggler {
    height: 64px;
  }
}
