/** @format */

.navbar {
  height: rfs(70, 55);
  .fa-search {
    font-size: rem(17);
  }
  position: sticky;
  top: 0;
  @include media-breakpoint-up(xxl) {
    height: 70px;
  }
}

.caret-down {
  cursor: pointer;
}

.dropdown {
  right: 0;
  width: rfs(240, 185);
  @include media-breakpoint-up(xxl) {
    width: 240px;
  }
}

.avatar {
  width: rfs(50, 40);
  height: rfs(50, 40);
  @include media-breakpoint-up(xxl) {
    width: 50px;
    height: 50px;
  }
}

.opener {
  font-size: 20px;
}

.search-input {
  height: rfs(45, 35);
  border: 0.5px solid
    transparentize($color: map-get($colors, "dark-50"), $amount: 0.8) !important;
  &:focus {
    border-color: map-get($colors, "success") !important;
  }
  @include media-breakpoint-up(xxl) {
    height: 45px;
  }
}

.link-hover:hover {
  background-color: transparentize(
    $color: map-get($colors, "light"),
    $amount: 0.5
  ) !important;
}
