/** @format */

// Fonts
@each $key, $val in $font-weights {
  .font-weight-#{$key} {
    font-weight: $val;
  }
}

// Colors
@each $key, $val in $colors {
  .text-#{$key} {
    color: $val;
  }
  .bg-#{$key} {
    background: $val;
  }
  .bg-#{$key}-light {
    background: transparentize($color: $val, $amount: 0.8);
  }
  .btn-#{$key} {
    background: $val !important;
    box-shadow: 0 0 0 0 3px transparentize($color: $val, $amount: 0.8);
    color: map-get($colors, "white") !important;
    transition: background 0.5s;
    &:hover {
      background: darken($color: $val, $amount: 4) !important;
    }
  }
  .border-#{$key} {
    border: 0.5px solid $val;
  }
  .border-bottom-#{$key} {
    border-bottom: 0.5px solid $val;
  }
  .border-top-#{$key} {
    border-top: 0.5px solid $val;
  }
}

.bg-light {
  background: #f7f7f7;
}

.border-bottom-grey {
  border-bottom: 0.5px solid transparentize($color: #f7f7f7, $amount: 0.5);
}

// Font sizes

h1 {
  font-size: 3rem;
  line-height: 1.5em;
  margin-bottom: 0.5em;
  font-weight: map-get($font-weights, "bolder");
}

h2 {
  font-size: 2.5rem;
  line-height: 1.5em;
  margin-bottom: 0.5em;
  font-weight: map-get($font-weights, "bolder");
}

h3 {
  font-size: 2rem;
  line-height: 1.5em;
  margin-bottom: 0.5em;
  font-weight: map-get($font-weights, "bolder");
}

h4 {
  font-size: 1.875rem;
  line-height: 1.5em;
  margin-bottom: 0.5em;
  font-weight: map-get($font-weights, "bolder");
}

h5 {
  font-size: 1.5rem;
  line-height: 1.5em;
  margin-bottom: 0.5em;
  font-weight: map-get($font-weights, "bold");
}

h6 {
  font-size: 1.25rem;
  line-height: 1.5em;
  margin-bottom: 0.5em;
  font-weight: map-get($font-weights, "bold");
}

p,
.p,
a {
  font-size: 1rem;
  margin-bottom: 0.5em;
}

.small,
small {
  font-size: 0.875rem;
  line-height: 1.5em;
}

.x-small {
  font-size: 0.75rem;
  line-height: 1.2em;
}

.xs-small {
  font-size: 0.625rem;
  line-height: 1.2em;
}
