/** @format */

$font-weights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 600,
  "bolder": 700,
);
$font-family: "Poppins", sans-serif;
$root-size: 16;
$responsive: (
  // "xs": 425px,
    "sm": 500px,
  "md": 768px,
  "lg": 970px,
  "xl": 1200px,
  "xxl": 1600px
);

$padding: (
  0: 0,
  1: 0.5rem,
  2: 1rem,
  3: 1.25rem,
  4: 2.25rem,
  5: 3.5rem,
);

$colors: (
  "primary": #3496da,
  "success": #3cb89c,
  "dark": #303030,
  "dark-50": #828282,
  "white": #ffffff,
  "light": #bdbdbd,
  "danger": #eb5757,
);
