/** @format */

$font-weights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 600,
  "bolder": 700,
);
$font-family: 'Poppins', sans-serif;
$root-size: 16;
$responsive: (
  // "xs": 425px,
    "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px
);

$padding: (
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 3rem,
);

$colors: (
  "primary": #3496da,
  "success": #3cb89c,
  "dark": #303030,
  "dark-50": #828282,
  "white": #ffffff,
);
