/** @format */

html {
  font-family: $font-family;
  font-size: rfs();
  margin-bottom: 0;
  color: map-get($colors, dark);
  @include media-breakpoint-up(xl) {
    font-size: #{$root-size}px;
  }
}

a {
  text-decoration: none;
}

.text-underline {
  text-decoration: underline;
}
